# macOS
.DS_Store
client/.DS_Store
client/public/.DS_Store
client/public/assets/.DS_Store

# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
client/.env
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
.next/
dist/
build/

# Uploads (keep them in cloud storage, not GitHub)
server/uploads/
